<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-app-bar app color="0A0A0A" dark clipped-left>
        <h1>ONE STOP system</h1>
        <v-spacer></v-spacer>
        <span>加盟店A様</span>
        <v-menu bottom left>
          <template v-slot:activator="{ on }">
            <v-btn dark icon v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, i) in menuItems" :key="i" @click="link(item.href)">
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-app-bar>
      <v-navigation-drawer app dark clipped>
        <v-list>
          <v-list-item-group>
            <v-list-item v-for="(item, i) in navigationItems" :key="i" @click="link(item.href)">
              <v-list-item-content>
                <v-list-item-title v-text="item.text"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      <v-content class="ml-8">
        <v-container>
          <v-row>
            <v-breadcrumbs :items="breadCrumbs" class="pl-0"></v-breadcrumbs>
          </v-row>
          <v-row class="mb-8">
            <h2>利用者登録</h2>
          </v-row>
        </v-container>
        <v-container class="mb-8">
          <v-row>
            <v-col cols="2">
              <v-subheader>雪ん子No.</v-subheader>
            </v-col>
            <v-col cols="6">
              <v-text-field label="ナンバー入力">
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2">
              <v-subheader>氏名</v-subheader>
            </v-col>
            <v-col cols="6">
              <v-text-field label="テキストを入力">
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2">
              <v-subheader>電話番号</v-subheader>
            </v-col>
            <v-col cols="6">
              <v-text-field label="ナンバー入力">
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2">
              <v-subheader>地区</v-subheader>
            </v-col>
            <v-col cols="6">
              <v-autocomplete :items="regions" label="地区を選択">
              </v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2">
              <v-subheader>センサID</v-subheader>
            </v-col>
            <v-col cols="6">
              <v-text-field label="ナンバー入力">
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2">
              <v-subheader>タンクの容量</v-subheader>
            </v-col>
            <v-col cols="6">
              <v-autocomplete :items="capacity" label="タンクの容量を選択">
              </v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2">
              <v-subheader>定期配送</v-subheader>
            </v-col>
            <v-col>
              <v-switch v-model="toggle"></v-switch>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="8" class="d-flex justify-end">
              <v-btn dark color="primary">登録</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        navigationItems: {
          home: {
            text: "ホーム",
            href: "./index.html"
          },
          userList: {
            text: "利用者一覧",
            href: "./userList.html"
          },
          userRegisteration: {
            text: "利用者登録",
            href: "./userRegisteration.html"
          }
        },
        menuItems: {
          logout: {
            title: "ログアウト",
            href: "./login.html"
          }
        },
        breadCrumbs: [
          {
            text: "利用者登録",
            disabled: true,
            href: "./userRegisteration"
          }
        ],
        regions: [
          {
            value: 1,
            text: "地区1",
          },
          {
            value: 2,
            text: "地区2",
          },
          {
            value: 3,
            text: "地区3",
          },
        ],
        capacity: [
          {value: 1, text: "200L"},
          {value: 2, text: "400L"}
        ],
        toggle: true,
      }),

      methods: {
        link(path) {
          window.location.href = path
        }
      }
    })
  </script>
</body>

</html>
